body{
    cursor: url('./img/cursor-dbz.png'), auto;    
    overflow-x: hidden;
    scrollbar-width: none;
}
.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
    text-align: center;
    overflow: hidden;
    display: grid;
    align-items: start;
    justify-content: center;
    mask-image: linear-gradient(black 90%,
            #333);
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./img/namek.jpg");
    background-size: cover;
    background-position: center;
    opacity: 1;
    z-index: -1;
}

.btn-dbz {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 5px;
    display: flex;
    align-items: center;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.btn-dbz img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    animation: iluminate 2s ease-in-out infinite alternate;
}

@keyframes iluminate {
    0% {
        filter: drop-shadow(0 0 3px #ffc107);
    }

    100% {
        filter: drop-shadow(0 0 7px #ffc107);
    }
}

.btn-dbz p {
    font-size: 15px;
    margin: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



.randar-box {
    width: 360px;
    height: 360px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: float 2s ease-in-out infinite;
    margin-top: 40px;
    --green: hsl(134, 34%, 38%);
    --line-color: #212121;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.randar-content {
    position: relative;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: 15px solid #CFCCCC;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4),
        0px 10px 20px rgba(0, 0, 0, 0.2);
    background:
        radial-gradient(#afadad 50%, #0a0a0a),
        repeating-linear-gradient(90deg,
            hsla(291, 0%, 66%, 0.05) 0px,
            hsla(291, 0%, 66%, 0.05) 1px,
            transparent 1px,
            transparent 100px),
        repeating-linear-gradient(0deg,
            hsla(291, 0%, 66%, 0.05) 0px,
            hsla(291, 0%, 66%, 0.05) 1px,
            transparent 1px,
            transparent 100px),
        repeating-linear-gradient(0deg,
            var(--line-color) 0px,
            var(--line-color) 1px,
            transparent 1px,
            transparent 25px),
        repeating-linear-gradient(90deg,
            var(--line-color) 0px,
            var(--line-color) 1px,
            transparent 1px,
            transparent 25px),
        linear-gradient(135deg, var(--green), var(--green));
    background-position-x: 20px;
    background-position-y: 7px;
    background-blend-mode: soft-light;
    will-change: transform;
    overflow: hidden;

}

.randar-content::before {
    content: "";
    display: block;
    width: 296px;
    height: 296px;
    border-radius: 50%;
    position: absolute;
    border: 1px solid #355555;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 20px 2px #333, 0 0 12px #999;
}

.randar-content::after {
    content: "";
    position: absolute;
    width: 290px;
    height: 290px;
    margin-left: -145px;
    margin-top: -145px;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    will-change: opacity;
    opacity: 0.15;
    z-index: 88;
}

.randar-content img {
    position: absolute;
    right: 30px;
    bottom: 0px;
    width: 220px;
    height: 250px;
    object-fit: initial;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.randar-top {
    width: 22px;
    height: 40px;
    position: absolute;
    top: 0;
    top: -25px;
    background-image: linear-gradient(-45deg, #f7f1f1, #c5bcbc);
    box-shadow: 0px 30px 90px 20px rgba(0, 0, 0, 0.8);
    transform: translateY(0px);
    transition: 0.2s all;
}

.randar-top::before {
    content: "";
    display: block;
    width: 38px;
    height: 18px;
    position: absolute;
    left: 50%;
    margin-left: -19px;
    border-radius: 12px 12px 2px 2px;
    top: -4px;
    background: white;
    background-image: linear-gradient(-45deg, #f7f1f1, #c4c4c4);
    cursor: pointer;
    z-index: 9;
}

/* .randar-top:active {
    transform: translateY(10px);
  } */
.randar-checkbox {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 99;
    top: -30px;
    opacity: 0;
    cursor: pointer;
}

.randar-top-body {
    display: block;
    width: 40px;
    height: 40px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transform: translateX(-50%) translateY(-65%);
    background-color: #efefef;
    background-image: radial-gradient(#f1e9e9, #ebe6e6);
    box-shadow: inset 10px -10px 10px 2px #d6d2d2;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 30px;
}

.randar-top-body::before {
    height: 0;
    width: 0;
    border-bottom: 40px solid #d6d2d2;
    border-left: 10px solid transparent;
    left: -10px;
    content: "";
    position: absolute;
}

.randar-top-body::after {
    height: 0;
    width: 0;
    border-bottom: 40px solid #ebe6e6;
    border-right: 10px solid transparent;
    content: "";
    position: absolute;
    right: -10px;
}

.randar-content::after {
    background-blend-mode: unset;
}

.randar-checkbox:checked,
.randar-checkbox:checked+.randar-top {
    transform: translateY(10px);
}

.randar-checkbox:checked~.randar-content {
    display: block;
}

.randar-checkbox:checked~.randar-content::after {
    background-blend-mode: darken;
    animation: scan 5s linear infinite;
}


.randar-ballI {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #F7DC6F;
    position: absolute;
    left: 20%;
    top: 20%;
    box-shadow: 0 0 5px 2px #F7DC6F;
    animation: parpadeo 2s infinite;

}

.randar-ballII {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #F7DC6F;
    position: absolute;
    right: 10%;
    top: 50%;
    box-shadow: 0 0 5px 2px #F7DC6F;
    animation: parpadeo 2s infinite;

}

.randar-ballIII {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #F7DC6F;
    position: absolute;
    left: 10%;
    top: 60%;
    box-shadow: 0 0 5px 2px #F7DC6F;
    animation: parpadeo 2s infinite;
}

@keyframes parpadeo {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.main #name {
    position: absolute;
    bottom: -50px;
    font: 400 40px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F7DC6F;
    text-shadow: 0 0 2px #F49D0C, 0 0 2px #F49D0C, 0 0 2px #F49D0C, 0 0 2px #F49D0C;
}

.main #description {
    position: absolute;
    bottom: -70px;
    font: 800 16px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #CFCCCC;
    text-shadow: 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000;

}

.vegetavsgoku {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 17%;
    left: 26%;
    z-index: 999999;
}
.shenlong {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 8%;
    left: 6%;
    filter: drop-shadow(0 0 20px #F7DC6F) brightness(0.8);
    z-index: 4;
    will-change: transform, filter;
    animation: moverArribaAbajo 2s linear infinite, parpadeo 1s ease-in-out infinite;
}

@keyframes moverArribaAbajo {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(3px);
    }
}

@keyframes parpadeo {
    0%, 100% {
        filter: drop-shadow(0 0 40px #F7DC6F);
    }
    50% {
        filter: drop-shadow(0 0 40px #F49D0C);
    }
}



.panelinfo {
    position: relative;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    padding: 15px;
    color: whitesmoke;
    font-size: 20px;
    box-shadow: 0 0 20px #F7DC6F;
    animation: transformation 2s infinite alternate;
}

@keyframes transformation {
    0% {
        box-shadow: 0 0 20px #F7DC6F;
    }

    50% {
        box-shadow: 0 0 20px #F7DC6F, 0 0 10px #F49D0C;
    }

    100% {
        box-shadow: 0 0 20px #F49D0C;
    }
}


.panelinfo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.2;
    z-index: -1;
}


.texttitleIndice {
    font-family: 'Saiyan Sans', sans-serif;
    font-size: 80px;
    color: #F7DC6F;
    text-shadow: 0 0 2px #F49D0C, 0 0 5px #F49D0C, 0 0 5px #F49D0C, 0 0 5px #F49D0C;
    margin-left: 10px;
    text-align: center;
}

@font-face {
    font-family: 'Saiyan Sans';
    src: url('../fonts/Saiyan-Sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.panelinfo p {
    color: #fff;
    margin-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
    background: linear-gradient(to right, #fff 0%, #F49D0C 10%, #fff 20%);
    background-size: 200% auto;
    background-position: 0 0;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 10s infinite linear;
    font-weight: 600;
    font-size: 19px;
    text-decoration: none;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
    white-space: normal;
    ;
}

.panelinfo img {
    position: absolute;
    top: -5px;
    left: 0;
    width: 100px;
    height: 120px;
    filter: drop-shadow(0 0 40px #fff);
}


@keyframes shine {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -200% 0;
        /* El gradiente se mueve completamente a la izquierda */
    }
}

/* Contenedor del drag贸n */
.dragon {
    position: absolute;
    width: 100px;
    height: 100px;
    pointer-events: none;
    animation: float 2s ease-in-out infinite;
}

/* Cuerpo del drag贸n */
.body {
    width: 60px;
    height: 60px;
    background: linear-gradient(135deg, #ff4b1f, #ff9068);
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 20%;
    box-shadow: 0 0 20px rgba(255, 72, 31, 0.6);
}

/* Cabeza del drag贸n */
.head {
    width: 40px;
    height: 40px;
    background: linear-gradient(135deg, #ffa41b, #ff6f3c);
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 35px;
}

/* Cola del drag贸n */
.tail {
    width: 20px;
    height: 60px;
    background: linear-gradient(135deg, #6a0572, #a4508b);
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 20px;
    transform: rotate(45deg);
}

@keyframes float {

    0%,
    100% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }
}

/* Estilos Cursor*/
canvas {
    position: absolute;
    z-index:-1;
}
